*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ListItem component */

.event-container {
  max-width: 780px;
  margin: 10px auto;
}

.list-item-header {
  display: flex;
  flex-direction: row;
  background-color: darkgrey;
  justify-content: space-between;
  border-radius: 5px;
}

.icon-holder {
  height: 40px;
  width: 40px;
}

.icon {
  height: 100%;
  width: 100%;
}

.list-item-header > h2 {
  padding: 5px 20px 5px 0;
  text-align: right;

}

.expand-container {
  background-color: lightgrey;
  max-width: 95%;
  margin: 0 auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
